@import url("https://fonts.googleapis.com/css2?family=Dongle&display=swap");
@font-face {
  font-family: PokemonFont;
  src: url("../fonts/Pokemon.ttf"), format("truetype");
  font-weight: normal;
  font-style: normal;
}
* {
  margin: 0px;
  /* font-family: 'Dongle', sans-serif; too much small*/
}

h5 {
  text-align: center;
  background-color: #3A4750;
  color: #EEEEEE;
  border-radius: 1.4em;
  font-size: 1.5em;
  margin-bottom: 0px;
}

.menuOptionsAndLanguages h5, .gameInfo h5 {
  background-color: #F6C90E;
  color: #303841;
}

p {
  text-align: center;
  border: 1px solid #303841;
  background-color: #3A4750;
  color: #EEEEEE;
  border-radius: 2em;
  font-size: 1.5rem;
  margin-bottom: 0px;
}

td, tr, th, btn, button {
  font-size: 1.5rem !important;
}

.mainTitle {
  background-color: #303841;
}

.mainTitle img {
  width: 100%;
}

.menu {
  /* border: 1px solid black;*/
  padding: 1% 1% 1% 1%;
  display: flex;
  justify-content: space-between;
  /*background: $colour4;*/
  background-image: url("../imgs/poster3.jpg");
}

.img-thumbposter3 {
  border: 0px transparent;
}

.board {
  background-color: #3A4750;
}

.carta img {
  height: 200px;
  width: 100%;
  align-self: center;
  border: transparent;
}

.carta {
  background-image: url(../imgs/LogoPokemonRotado.png);
  background-position: center;
  border: 2px solid white;
  opacity: 1;
  background-size: contain;
  height: 10%;
}

.menu div {
  padding: 0.2em;
}

.menuTopPlayer {
  background: transparent;
  background: linear-gradient(180deg, #3A4750 13%, #EEEEEE 100%);
  color: #F6C90E;
  font-weight: bold;
  margin: 1% 1% 1% 1%;
  border-radius: 15px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto;
  text-align: center;
}

.menuTopPlayer div {
  border: 1px solid #303841;
  border-radius: 15px;
  font-size: 1.5em;
}

.menuLanguage th, td, p {
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
}

.menuLanguage div {
  border: 1px solid #303841;
}

.btn-group {
  padding: 2%;
  font-size: 0.8em;
  display: inline-block;
}

.pokeball {
  width: -moz-available;
  width: -webkit-fill-available;
  background: url("imgs/pokeballSlow.gif") center no-repeat #fff;
}

.game {
  display: flex;
  justify-content: space-between;
  background-image: url("/imgs/poster.jpg");
}

.gameInformation {
  background-image: url("../imgs/poster4.jpg");
  background-size: cover;
}

.bomInfo {
  border: 5px solid #F6C90E;
  border-radius: 2em;
}

.dificultyInfo {
  border: 5px solid #F6C90E;
  border-radius: 2em;
  padding: 1em 1em 1em 1em;
  margin: 1em 1em 1em 1em;
}

.gameDescription {
  padding: 5em 0 0 0;
  color: #F6C90E;
  font-size: 4em;
}

.block {
  webkit-box-shadow: inset 0px 0px 74px 13px black;
  box-shadow: inset 0px 0px 74px 13px black;
}

h2 {
  text-align: center;
}

.footer {
  background: radial-gradient(circle, #EEEEEE 0%, #F6C90E 61%, #3A4750 100%);
}

/*.modal-content btn input{
    background-color: $colour2;
    color: $colou1;
    border: 5px solid $colour4;
    width:auto;
    justify-content: space-around;
    font-weight: 900;
}





//INFORMATION GENERAL
.allCards {
    background-color: $colour2;
    justify-content: space-around;
}
.menuOptionsAndLanguages{
    background-color: $colour1;
    justify-content: space-around;
}

.card{
    text-align: center;
    border: 5px solid $colour3;
    border-radius: 1em;
    padding: 0 0 0 0;
    margin: 0.5em 0.5em 0.5em 0.5em;
    background-color: $colour4;
    transition: 3s;
}

 /* .card:hover{
    box-shadow: -2px 2px 89px 0px $colour3 inset;
    -webkit-box-shadow: -2px 2px 89px 0px $colour3 inset;
    -moz-box-shadow: -2px 2px 89px 0px $colour3 inset;
    transform: scale(1.2);
    transition: 1s;
    -webkit-transition: 1s;
    -moz-transition: 1s;
    -ms-transition: 1s;
    -o-transition: 1s;
}*/
.Pikachu:hover {
  box-shadow: -2px 2px 89px 0px lightblue inset !important;
  -webkit-box-shadow: -2px 2px 89px 0px lightblue inset !important;
  -moz-box-shadow: -2px 2px 89px 0px lightblue inset !important;
  transform: scale(1.2);
  transition: 1s;
}

.card-title {
  padding: 0rem 0rem;
  margin: 0;
}

.card img {
  width: -moz-available;
  width: -webkit-fill-available;
  height: 20rem;
}

.card-name {
  justify-content: end;
  align-items: flex-end;
}

.card-body {
  padding: 10px 4px 10px 4px !important;
  margin: 0 0 0 0;
}

.gameInfo {
  background-color: #EEEEEE;
}

@media (max-width: 1024px) {
  .menuNickUserAndScore {
    font-size: 1.2em;
  }

  .menuTopPlayer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
    text-align: center;
    padding: 5px;
  }

  .menuTopPlayer div {
    font-size: 1.2em;
  }

  .menuLanguage {
    font-size: 1.2em;
  }

  .btn-group {
    padding: 1.5%;
    font-size: 0.7em;
    display: inline-block;
  }

  .gameInformation {
    font-size: 0.8em;
  }

  h5 {
    font-size: 1.4rem;
    font-weight: 900;
  }

  p, tr, td, th, btn, button {
    font-size: 1.2rem !important;
  }

  .btn-group {
    padding: 1.2%;
    display: inline-block;
  }
}
@media (max-width: 768px) {
  h5 {
    font-size: 1.2rem;
    margin-bottom: 0rem;
  }

  p, tr, td, th, btn, button {
    font-size: 1rem;
  }

  .menu {
    font-size: 1em;
    display: grid;
    grid-template-areas: "menuNick menuTop menuLanguage";
  }

  .menuNickUserAndScore {
    font-size: 1em;
    grid-column: 0;
    grid-area: menuNick;
  }

  .menuTopPlayer {
    grid-area: menuTop;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
    text-align: center;
    padding: 5px;
  }

  .menuTopPlayer div {
    font-size: 1em;
  }

  .information {
    font-size: 1.2em;
    padding: 0em 0em 1em 0;
  }
}
@media (max-width: 480px) {
  h5 {
    font-size: 0.9rem;
  }

  p, td, tr, th but, button {
    font-size: 0.6rem !important;
  }

  .menu {
    font-size: 1em;
    display: grid;
    /*  grid-template-areas: 
      'menuNick menuLanguage'
      'menuTop menuLanguage';*/
  }

  .mainTitle img {
    size-adjust: calc();
  }

  .gameInformation {
    display: none;
  }

  .menu {
    flex-wrap: wrap;
    flex-direction: initial;
  }

  .menuNickUserAndScore {
    font-size: 1em;
    grid-area: menuNick;
  }

  .menuTopPlayer {
    grid-area: menuTop;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
    text-align: center;
    padding: 5px;
  }

  .menuTopPlayer div {
    font-size: 1em;
  }

  .menuLanguage {
    font-size: 1em;
  }

  .menuLanguage p {
    margin-bottom: 0rem;
  }

  .information {
    font-size: 1em;
    padding: 0em 0em 1em 0;
  }
}/*# sourceMappingURL=styleCardGame.css.map */