/* define variables for the primary colors */
$primary_1: #a2b9bc;
$primary_2: red;
$primary_3: #878f99;

.header {
  grid-column: 1 / 7;
}
.score {
  grid-column: 1 / span 2;
}
.ranking {
  grid-column: 3 / span 2;
}
.language {
  grid-column: 5 / span 2;
}

.information-bar {
  grid-column: 1 / span 6;
}

.game {
  grid-column: 1 / 6;
  height: 500px;
}

.description {
  grid-column: 6 / 7;
}

.footer {
  grid-column: 1 / span 6;
}


.grid-container {
  display: grid;
  grid-template-columns: auto auto auto auto auto auto;
  grid-gap: 10px;
  background-color: $primary_1;
  padding: 10px;
}

.grid-container > div {
  background-color: $primary_2;
  text-align: center;
  padding: 20px 0;
  font-size: 30px;
}
