
<div class="container pt-3">

    <form class="card row text-center form-group" [formGroup]="formRegister" (submit)="submit()">
    
        <label for="nombre" class="bg-info">Nombre</label><input type="text" class="form-control" formControlName="nombre" id="nombre">
        <label for="apellidos" class="bg-info">Apellidos</label><input type="text" class="form-control" formControlName="apellidos" id="apellidos">
        <br> 
        <label for="password" class="bg-info">Contraseña</label><input type="password" class="form-control" formControlName="password" id="password">
        <label for="repassword" class="bg-info">Repite Contraseña</label><input type="password" class="form-control"  formControlName="repassword" id="repassword">
        <label for="email" class="bg-info" >Email</label><input type="text" class="form-control"  formControlName="email" id="email"> 
        <br>
        <label for="dni" class="bg-info">dni</label><input type="text" class="form-control"  formControlName="dni" id="dni">
        <br>
        <button type="submit" class="form-control bg-danger"  [disabled]="formRegister.invalid" data-toggle="modal" data-target="#miModal">Registro</button>
    
    </form>
    <!--Aqui empezamos a comprabar errores y mostrarlos por pantalla-->
    
    
    <div class="alert alert-danger" role="alert" *ngIf="mensajeerr">
            <div>{{mensajeerr}}</div>  
    </div>
    <div class="alert alert-success" role="alert" *ngIf="mensaje">
        <div>{{mensaje}}</div>  
    </div>

    

    


</div>
