* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  article {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    max-width: 450px;
    margin: auto;
    grid-gap: 5px;
  }
  
  figure,
  figure img {
    display: inline-block;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    top: 0;
    left: 0;
    border-color: none;
  }
  
  figure {
    position: relative;
    transition: all ease 0.5s;
    transform-style: preserve-3d;
    cursor: pointer;
    /*Transicion*/
    transform: perspective(200px) rotateY(0deg);
    box-shadow: 3px 3px 16px rgba(0, 0, 0, 0.7);
    border-radius: 10px;
  }
  figure .back {
    /*Para que cuando este volteada no se vea la imagen */
    display: block;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    border-radius: 10px;
  }
  
  figure figure .searched-image {
    position: absolute;
    top: 0;
    left: 0;
    transform: perspective(200px) rotateY(180deg);
    height: 100%;
    overflow: hidden;
    border-radius: 10px;
  }
  
  /* cartas abiertas */
  figure.opened {
    transform: perspective(200px) rotateY(180deg);
  }
  
  /* figura cuando te posicionas con el raton */
  figure::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    display: inline-block;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0);
    transition: 0.3 all ease;
    border-radius: 10px;
  }
  
  figure:hover:after {
    /*Cuando aprietas el hover te hace la opacidad */
    background: rgba(255, 255, 255, 0.137);
  }
  
  @media (max-width: 480px) {
    article {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      max-width: 450px;
      margin: auto;
      grid-gap: 5px;
    }
  }
  @media (max-width: 1024px) {
    article {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      max-width: 450px;
      margin: auto;
      grid-gap: 5px;
    }
  }
  @media (max-width: 768px) {
    article {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      max-width: 450px;
      margin: auto;
      grid-gap: 5px;
    }
  }