@font-face {
  font-family: fuenteCustom;
  src: url("../fonts/fuentecustom.ttf");
}
* {
  font-family: fuenteCustom, "Comic Sans MS";
  margin: 0px;
  padding: 0px;
  text-decoration: none;
  font-weight: bold;
}

body {
  background-image: url(../imgs/fondo.jpg);
}

header,
#btnModal,
#btnPista,
#btnReload,
#btnClearT {
  background-image: linear-gradient(180deg, #ffffff 0, #fffefa 10%, #fff2f2 20%, #fde5e7 30%, #e3d6d8 40%, #c6c6c6 50%, #aab6b2 60%, #94a79f 70%, #819a8d 80%, #748f7d 90%, #6a866e 100%);
  border: 1px solid #badbcc;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

#ES,
#EN,
#index,
#infor,
#informacion {
  color: #263b30;
  border: 1px solid #263b30;
}

#language {
  color: #263b30;
}

#ES,
#EN,
#index,
#infor,
#informacion,
.btn,
#btnModal {
  transition: 0.5s;
  border-radius: 15px;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
}

#ES:hover,
#EN:hover,
#index:hover,
#infor:hover,
#informacion:hover,
.btn:hover,
#btnModal:hover,
#btnReload:hover,
#btnPista:hover,
#btnClearT:hover {
  cursor: pointer;
  background-image: linear-gradient(180deg, #ffffff 0, #fffefa 10%, #fff2f2 20%, #fde5e7 30%, #e3d6d8 40%, #c6c6c6 50%, #aab6b2 60%, #94a79f 70%, #819a8d 80%, #748f7d 90%, #6a866e 100%);
  color: #263b30 !important;
  transition: 0.5s;
  box-shadow: 6px 4px 2px 0px rgba(0, 0, 0, 0.75);
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
}

.desc-carta {
  color: #263b30;
  transition: 1s;
  -webkit-transition: 1s;
  -moz-transition: 1s;
  -ms-transition: 1s;
  -o-transition: 1s;
}

.desc-carta:hover {
  cursor: pointer;
  color: #263b30;
  transition: 1s;
  z-index: 100;
  transform: scale(1.2);
  box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
  -webkit-transition: 1s;
  -moz-transition: 1s;
  -ms-transition: 1s;
  -o-transition: 1s;
  -webkit-transform: scale(1.2);
  -moz-transform: scale(1.2);
  -ms-transform: scale(1.2);
  -o-transform: scale(1.2);
}

.popover {
  font-size: 30px !important;
  background-image: linear-gradient(180deg, #ffffff 0, #fffefa 10%, #fff2f2 20%, #fde5e7 30%, #e3d6d8 40%, #c6c6c6 50%, #aab6b2 60%, #94a79f 70%, #819a8d 80%, #748f7d 90%, #6a866e 100%) !important;
  color: #263b30 !important;
}

.contenedor {
  background-color: #586d5c;
}

.progress-bar {
  background-color: #263b30 !important;
  transition: 2s;
  -webkit-transition: 2s;
  -moz-transition: 2s;
  -ms-transition: 2s;
  -o-transition: 2s;
}

.game .carta {
  height: 100%;
  width: 100%;
  border: 2px solid black;
  background-image: url(../imgs/carta.jpg);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.carta:hover {
  box-shadow: 0px 0px 12px 9px #263b30;
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
  z-index: 100;
}

.carta-selec {
  box-shadow: 0px 0px 12px 9px #263b30;
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
  z-index: 100;
}

.carta-error {
  box-shadow: 0px 0px 12px 9px red;
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
  z-index: 100;
}

.carta-win {
  box-shadow: 0px 0px 12px 9px green;
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
  z-index: 100;
}

.carta img {
  width: 100%;
  height: 100%;
}

.table {
  background-image: linear-gradient(180deg, #ffffff 0, #fffefa 10%, #fff2f2 20%, #fde5e7 30%, #e3d6d8 40%, #c6c6c6 50%, #aab6b2 60%, #94a79f 70%, #819a8d 80%, #748f7d 90%, #6a866e 100%) !important;
}

.footer,
.info,
.tablero {
  text-align: center;
  background-image: linear-gradient(180deg, #ffffff 0, #fffefa 10%, #fff2f2 20%, #fde5e7 30%, #e3d6d8 40%, #c6c6c6 50%, #aab6b2 60%, #94a79f 70%, #819a8d 80%, #748f7d 90%, #6a866e 100%);
  font-size: 30px;
}

.desc {
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.tablas {
  font-size: 20px;
  background-image: linear-gradient(180deg, #ffffff 0, #fffefa 10%, #fff2f2 20%, #fde5e7 30%, #e3d6d8 40%, #c6c6c6 50%, #aab6b2 60%, #94a79f 70%, #819a8d 80%, #748f7d 90%, #6a866e 100%);
}

.block {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: none;
  background-color: rgba(0, 0, 0, 0);
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

img {
  -webkit-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  -ms-user-select: none;
      user-select: none;
}

.modal-content {
  background-image: linear-gradient(180deg, #ffffff 0, #fffefa 10%, #fff2f2 20%, #fde5e7 30%, #e3d6d8 40%, #c6c6c6 50%, #aab6b2 60%, #94a79f 70%, #819a8d 80%, #748f7d 90%, #6a866e 100%);
}

.desc-cartas img {
  height: 300px;
  width: -moz-available;
  width: -webkit-fill-available;
}

.desc-carta {
  background-image: linear-gradient(180deg, #ffffff 0, #fffefa 10%, #fff2f2 20%, #fde5e7 30%, #e3d6d8 40%, #c6c6c6 50%, #aab6b2 60%, #94a79f 70%, #819a8d 80%, #748f7d 90%, #6a866e 100%);
}

.btn {
  font-size: 30px !important;
}

.carta_h {
  height: 238px !important;
}

@media (max-width: 1400px) {
  .desc-cartas img {
    height: 200px !important;
  }

  .carta_h {
    height: 175px !important;
  }
}
@media (max-width: 992px) {
  .carta_h {
    height: 130px !important;
  }

  .desc-cartas img {
    height: 220px !important;
  }
}
@media (max-width: 600px) {
  .desc-cartas img {
    height: 120px !important;
  }
}
@media (max-width: 576px) {
  .carta_h {
    height: 60px !important;
  }

  .desc-cartas img {
    height: 140px !important;
  }
}/*# sourceMappingURL=styles.css.map */